<p>This fieldtype allows you to cast star ratings as a <strong>content manager</strong>. It can also be used with a <strong>front-end entry form</strong>.</p>
<p><a href="https://www.doublesecretagency.com/plugins/star-ratings/docs/rate-field-type" target="_blank">Learn more...</a></p>