.field p,
.field p.warning {
    margin-top: 12px;
}
.field p.warning.change-value {
    display: none;
}

.maxStarsAvailable span.stars-total-label {
    display: inline-block;
    padding-left: 8px;
}